.DS_Store
*.pyc
*.egg-info
*.swp
*.swo
tags
label_creator/docs/current
node_modules/
*.orig
*.rej
uploads/
label_files/
qr_codes/
word_ready_files/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.log
